* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.page-container {
  margin-top: 7em; }

.settings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 500px;
  margin: 0 auto;
  padding: 2em 0;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.knob-container p {
  line-height: 2.4em;
  font-size: 2em; }

.knob-container-1 p {
  font-family: 'Indie Flower', cursive; }

.knob-container-2 p {
  font-family: 'Lobster', cursive; }

.knob-container-3 p {
  font-family: 'Pacifico', cursive; }

.knob-container {
  width: 100px;
  text-align: center; }

.knob {
  -webkit-transition: 200ms ease-in-out all;
  transition: 200ms ease-in-out all;
  margin: 13px auto;
  border-radius: 2em;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0 1px 1px 1px black;
          box-shadow: 0 1px 1px 1px black;
  background: radial-gradient(#e2e2e2, lightgrey, #fbfbfb);
  background-size: 50% 350%;
  background-position: 0% 0%; }

.activated {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.setting {
  overflow: hidden; }
  .setting span {
    display: inline-block;
    -webkit-transition: 100ms linear all;
    transition: 100ms linear all; }

.enter {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  opacity: 0; }

.hidden {
  opacity: 0; }

.leave {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  opacity: 0; }
