.knob-container
	width: 100px
	text-align: center
	// margin: 0 1em

.knob
	transition: 200ms ease-in-out all
	margin: 13px auto
	border-radius: 2em
	width: 40px
	height: 40px
	box-shadow: 0 1px 1px 1px black
	background: radial-gradient(#e2e2e2, lightgrey, #fbfbfb)
	background-size: 50% 350%
	background-position: 0% 0%

	//test
	// &:hover
	// 	background-size: 350% 50%



.activated
	// background-size: 350% 50%
	transform: rotate(180deg)

.setting
	overflow: hidden
	span
		display: inline-block
		transition: 100ms linear all

.enter
	transform: translateX(200px)
	opacity: 0

.hidden
	opacity: 0

.leave
	transform: translateX(-200px)
	opacity: 0
